h5 {
    color: blueviolet;
}
body {
    color: blueviolet;
    font-family: fantasy;
    background-color: black; 
    color: whitesmoke
}

#StudentID {
    color: whitesmoke;
}
#MadisonUni {
    color: peru;
    font-weight: bolder;
}
#links  {
    color: peru;
}
#sbutton {
    background-color: peru;
    border: peru;
}
#bbutton {
    background-color: peru;
    border: peru;
    margin-left: 90%;
}
td {
    color: peru;
}
th {
    color: blueviolet;
}
h1, h4 {
    color: peru;
    text-align: center;
}
h3 {
    color: blueviolet;
}
#email {
    color: blueviolet;
}
.tabler {
    color: blueviolet;

}
.navbar-custom {
    background-color: #ff5500;
}
#BookForm {
    color: peru;
}
#bookform {
    color: black; 
}
.titlepg {
    font-weight: bold;
    text-align: center;
}
#titleinfo {
    margin: 20%;
}
#studententernform {
    margin-left: 1%;
}

a {
    color: blueviolet;
}
/* table sort styles from http://tristen.ca/tablesort/demo/ */
#bookth[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

#bookth[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: peru transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#bookth[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

#bookth[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

#bookth[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}